.titulo {
    color:rgb(243, 219, 104);
    font-size: 3.3rem;
    
}

.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: rgb(50, 52, 38);
    color: black;
    box-shadow: 0 4px 4px 4px rgba(197, 134, 134, 0.23);
  }

.texto {

    align-items: center;
    box-sizing: border-box;
    box-decoration-break: clone;
    text-decoration: navajowhite;
    color: black;
    font-size: 1.3rem;
    margin-left: 4rem;
    position: relative;
  cursor: pointer;

  }

.navigation-menu {
    margin-left: auto;
  }